<!-- WarningMessage -->

import { Meta } from '@storybook/addon-docs';

<Meta title="Styleguide/Color" />

# Color

<p className="sb-tooltip">ℹ&nbsp;&nbsp;&nbsp;Hover over an --alias to see its value. Hexadecimal values are automatically converted to RGB, the original values are shown to the right.</p>

<table className="sb-color sb-group-table">
  <tbody>
    <%= color %>
  </tbody>
</table>

<%= boxShadow %>
