<!-- WarningMessage -->

import { Meta } from '@storybook/addon-docs';

<Meta title="Styleguide/Spacing" />

# Spacing

<p className="sb-tooltip">ℹ&nbsp;&nbsp;&nbsp;Pixel values are automatically converted to REM, the original values are shown to the right.</p>

<table className="sb-spacing sb-group-table">
  <tbody>
    <%= spacing %>
  </tbody>
</table>
