<!-- WarningMessage -->

import { Meta } from '@storybook/addon-docs';

<Meta title="Styleguide/Animation" />

# Animation

<p className="sb-tooltip">ℹ&nbsp;&nbsp;&nbsp;Click boxes to play animation.</p>

<table className="sb-animation sb-group-table">
  <tbody>
    <%= animation %>
  </tbody>
</table>

