<!-- WarningMessage -->

import { Meta } from '@storybook/addon-docs';

<Meta title="Styleguide/Icons" />

# Icons

<p className="sb-tooltip">ℹ&nbsp;&nbsp;&nbsp;Hover over an icon to see its size variable.</p>

<table className="sb-icons sb-group-table">
  <tbody>
    <%= icons %>
  </tbody>
</table>
