<!-- WarningMessage -->

import { Meta, Preview } from '@storybook/addon-docs';

<Meta title="Styleguide/Forms" />

# Forms

<p className="sb-tooltip">ℹ&nbsp;&nbsp;&nbsp;When showing code note that MDX requires some custom attributes, these are not recommendations for changing your HTML attributes.</p>

## Form groups

<Preview>
<div className="form-group">
  <div className="form-group__field">
    <label className="form-group__label text-body-m-regular" htmlFor="form-group-email">
      Email
      <span class="form-group__optional">Optional text</span>
    </label>
    <input id="form-group-email" placeholder="Placeholder" type="email" defaultValue="test@test.com" />
    <p class="form-group__note text-body-s-regular">Input note</p>
  </div>
  <div className="form-group__field">
    <label className="form-group__label text-body-m-regular" htmlFor="form-group-number">Number</label>
    <input id="form-group-number" placeholder="Placeholder" type="number" defaultValue="1234" />
  </div>
  <div className="form-group__field">
    <label className="form-group__label text-body-m-regular" htmlFor="form-group-password">Password</label>
    <input id="form-group-password" placeholder="Placeholder" type="password" defaultValue="password" />
  </div>
  <div className="form-group__field">
    <label className="form-group__label text-body-m-regular" htmlFor="form-group-tel">Tel</label>
    <input id="form-group-tel" placeholder="Placeholder" type="tel" defaultValue="02036967828" />
  </div>
  <div className="form-group__field">
    <label className="form-group__label text-body-m-regular" htmlFor="form-group-text">Text</label>
    <input id="form-group-text" placeholder="Placeholder" type="text" defaultValue="Lorem ipsum" />
  </div>
  <div className="form-group__field has-success">
    <label className="form-group__label text-body-m-regular" htmlFor="form-group-success">Success</label>
    <input id="form-group-success" placeholder="Placeholder" type="text" defaultValue="Lorem ipsum" />
    <p class="form-group__note text-body-s-regular">Input note</p>
  </div>
  <div className="form-group__field has-error">
    <label className="form-group__label text-body-m-regular" htmlFor="form-group-error">Error</label>
    <input id="form-group-error" placeholder="Placeholder" type="text" defaultValue="Lorem ipsum" />
    <p class="form-group__note text-body-s-regular">Input note</p>
  </div>
  <div className="form-group__field">
    <label className="form-group__label text-body-m-regular" htmlFor="form-group-disabled">Disabled</label>
    <input id="form-group-disabled" disabled placeholder="Placeholder" type="text" defaultValue="Lorem ipsum" />
  </div>
  <div className="form-group__footer">
    <button className="button"><span className="button__label">Submit</span><span className="button__icon"><svg className="icon icon__arrow icon__arrow--right" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M11.475 19.1q-.225-.225-.225-.538 0-.312.2-.537l5.3-5.275H5.125q-.3 0-.525-.213-.225-.212-.225-.537 0-.325.225-.538.225-.212.525-.212H16.75l-5.3-5.275q-.2-.225-.2-.537 0-.313.225-.538.225-.2.525-.2.3 0 .525.2l6.45 6.475q.15.125.213.287.062.163.062.338 0 .175-.062.337-.063.163-.213.288l-6.45 6.475q-.225.2-.525.2-.3 0-.525-.2Z"></path></svg></span></button>
  </div>
</div>
</Preview>

## Select

<Preview>
<div className="form-group">
  <div className="form-group__field">
    <label className="form-group__label text-body-m-regular" htmlFor="select-default">Default</label>
    <select id="select-default">
      <option value="">First option</option>
      <option value="">Second option</option>
      <option value="">Third option</option>
      <option disabled value="">Disabled option</option>
    </select>
  </div>
  <div className="form-group__field">
    <label className="form-group__label text-body-m-regular" htmlFor="select-disabled">Disabled</label>
    <select id="select-disabled" disabled>
      <option value="">First option</option>
      <option value="">Second option</option>
      <option value="">Third option</option>
      <option disabled value="">Disabled option</option>
    </select>
  </div>
</div>
</Preview>

## Textarea

<Preview>
<div className="form-group">
  <div className="form-group__field">
    <label className="form-group__label text-body-m-regular" htmlFor="textarea-default">Default</label>
    <textarea id="textarea-default" placeholder="Textarea"></textarea>
  </div>
  <div className="form-group__field">
    <label className="form-group__label text-body-m-regular" htmlFor="textarea-disabled">Disabled</label>
    <textarea id="textarea-disabled" disabled placeholder="Textarea"></textarea>
  </div>
</div>
</Preview>

## Checkbox

<Preview>
<div className="checkbox">
  <input id="checkbox-1" className="checkbox__input" type="checkbox" />
  <label className="checkbox__label text-body-m-regular" htmlFor="checkbox-1">Default</label>
</div>
<div className="checkbox">
  <input id="checkbox-2" className="checkbox__input" checked readOnly type="checkbox" />
  <label className="checkbox__label text-body-m-regular" htmlFor="checkbox-2">Checked</label>
</div>
<div className="is-tabbable">
  <div className="checkbox">
    <input id="checkbox-3" className="checkbox__input is-focus" readOnly type="checkbox" />
    <label className="checkbox__label text-body-m-regular" htmlFor="checkbox-3">Focussed</label>
  </div>
</div>
<div className="checkbox">
  <input id="checkbox-4" className="checkbox__input" disabled type="checkbox" />
  <label className="checkbox__label text-body-m-regular" htmlFor="checkbox-4">Disabled</label>
</div>
</Preview>

## Radio

<Preview>
<div className="radio">
  <input id="radio-1" className="radio__input" name="styleguide" type="radio" />
  <label className="radio__label text-body-m-regular" htmlFor="radio-1">Default</label>
</div>
<div className="radio">
  <input id="radio-2" className="radio__input" checked readOnly name="styleguide" type="radio" />
  <label className="radio__label text-body-m-regular" htmlFor="radio-2">Checked</label>
</div>
<div className="is-tabbable">
  <div className="radio">
    <input id="radio-3" className="radio__input is-focus" readOnly name="styleguide" type="radio" />
    <label className="radio__label text-body-m-regular" htmlFor="radio-3">Focussed</label>
  </div>
</div>
<div className="radio">
  <input id="radio-4" className="radio__input" disabled name="styleguide" type="radio" />
  <label className="radio__label text-body-m-regular" htmlFor="radio-4">Disabled</label>
</div>
</Preview>