<!-- WarningMessage -->

import { Meta } from '@storybook/addon-docs';

<Meta title="Styleguide/Typography" />

# Typography

<p className="sb-tooltip">ℹ&nbsp;&nbsp;&nbsp;Hover over a <span class="sb-token">--variable</span> to see its value. Pixel font size values are automatically converted to REM, its original value is in brackets.</p>

<table className="sb-typography sb-group-table">
  <tbody>
    <%= typography %>
  </tbody>
</table>
