{% comment %}
------------------------------------------------------------------------------
  Snippet: <%= name %> (<%= handle %>)
------------------------------------------------------------------------------
{% endcomment %}
<div class="<%= handle %> is-loading liquid">
</div>
